Repository nnunley/tree-sitter-moo: changes, and which pre-commit hooks are due for each by the changed paths.
All: tree-sitter-generate, tree-sitter-test, tree-sitter-benchmark

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tree-sitter-generate
        name: tree-sitter generate
        entry: tree-sitter generate
        language: system
        files: grammar\.js$
        pass_filenames: false
        
      - id: tree-sitter-test
        name: tree-sitter test
        entry: tree-sitter test
        language: system
        files: ^(grammar\.js|test/corpus/.*\.txt)$
        pass_filenames: false
        
      - id: tree-sitter-benchmark
        name: tree-sitter benchmark
        entry: bash -c 'tree-sitter test --stat total-only | tee benchmark-results.txt && echo "=== Performance Results ===" && grep "bytes/ms" benchmark-results.txt | tail -1'
        language: system
        files: ^(grammar\.js|test/corpus/.*\.txt)$
        pass_filenames: false
        verbose: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: test/corpus/.*\.txt$

Remove endobj keyword - not part of MOO grammar
  grammar.js
  queries/highlights.scm
  src/grammar.json
  src/node-types.json
  src/parser.c
  test/corpus/object_definitions.txt
Due: tree-sitter-generate, tree-sitter-test, tree-sitter-benchmark

Fix unnecessary conflict warnings
  grammar.js
  src/grammar.json
Due: tree-sitter-generate, tree-sitter-test, tree-sitter-benchmark

Major refactoring: Flatten expression hierarchy and add semantic node types
  docs/error-constants.md
  docs/moo-language-notes.md
  grammar.js
  package-lock.json
  package.json
  queries/highlights.scm
  src/grammar.json
  src/node-types.json
  src/parser.c
  test/corpus/binops.txt
  test/corpus/control_flow.txt
  test/corpus/error_constants.txt
  test/corpus/error_handling.txt
  test/corpus/flyweights.txt
  test/corpus/functions_and_verbs.txt
  test/corpus/lambdas_and_functions.txt
  test/corpus/object_definitions.txt
  test/corpus/property_access.txt
  test/corpus/scatter_assignments.txt
  test/corpus/slices_and_indexing.txt
  test/corpus/value_types.txt
Due: tree-sitter-generate, tree-sitter-test, tree-sitter-benchmark

test: Expand arithmetic binary operators test coverage
  test/corpus/binops.txt
Due: tree-sitter-test, tree-sitter-benchmark

fix: Remove parens nodes from parenthesized expressions
  README.md
  grammar.js
  src/grammar.json
  src/node-types.json
  src/parser.c
  src/tree_sitter/alloc.h
  src/tree_sitter/array.h
  src/tree_sitter/parser.h
  test/corpus/binops.txt
Due: tree-sitter-generate, tree-sitter-test, tree-sitter-benchmark

feat: Add named fields to grammar productions and improve AST structure
  grammar.js
  src/grammar.json
  src/node-types.json
  src/parser.c
  test/corpus/control_flow.txt
  test/corpus/error_constants.txt
  test/corpus/error_handling.txt
  test/corpus/flyweights.txt
  test/corpus/lambdas_and_functions.txt
  test/corpus/object_definitions.txt
  test/corpus/scatter_assignments.txt
Due: tree-sitter-generate, tree-sitter-test, tree-sitter-benchmark

feat: Add comprehensive semantic fields and fix argument parsing
  grammar.js
  src/grammar.json
  src/node-types.json
  src/parser.c
  test/corpus/binops.txt
  test/corpus/control_flow.txt
  test/corpus/error_constants.txt
  test/corpus/error_handling.txt
  test/corpus/flyweights.txt
  test/corpus/functions_and_verbs.txt
  test/corpus/lambdas_and_functions.txt
  test/corpus/nested_loops.txt
  test/corpus/object_definitions.txt
  test/corpus/property_access.txt
  test/corpus/scatter_assignments.txt
  test/corpus/slices_and_indexing.txt
Due: tree-sitter-generate, tree-sitter-test, tree-sitter-benchmark

refactor: Clean up grammar.js helper functions and remove redundancy
  grammar.js
  src/grammar.json
  src/node-types.json
  src/parser.c
  test/corpus/lambdas_and_functions.txt
  test/corpus/scatter_assignments.txt
Due: tree-sitter-generate, tree-sitter-test, tree-sitter-benchmark

refactor: Flatten CST structure and remove unnecessary wrapper nodes
  grammar.js
  queries/highlights.scm
  queries/locals.scm
  src/grammar.json
  src/node-types.json
  src/parser.c
  test/corpus/binops.txt
  test/corpus/control_flow.txt
  test/corpus/error_constants.txt
  test/corpus/error_handling.txt
  test/corpus/flyweights.txt
  test/corpus/functions_and_verbs.txt
  test/corpus/lambdas_and_functions.txt
  test/corpus/nested_loops.txt
  test/corpus/object_definitions.txt
  test/corpus/parentheses.txt
  test/corpus/property_access.txt
  test/corpus/scatter_assignments.txt
  test/corpus/slices_and_indexing.txt
  test/corpus/value_types.txt
Due: tree-sitter-generate, tree-sitter-test, tree-sitter-benchmark

fix: Update query files to match new flattened CST structure
  queries/highlights.scm
  queries/injections.scm
  queries/locals.scm
Due: none

docs: Update README with flattened CST structure documentation
  README.md
Due: none

feat: Fix grammar issues and add comprehensive documentation
  docs/CST_EXAMPLES.md
  docs/CST_REFERENCE.md
  docs/NAMED_FIELDS.md
  docs/PRODUCTION_REFERENCE.md
  docs/README.md
  examples/debug_binop.moo
  examples/debug_complex_binop.moo
  examples/debug_lambda.moo
  examples/debug_scatter.moo
  examples/test_injections.moo
  grammar.js
  src/grammar.json
  src/node-types.json
  src/parser.c
Due: tree-sitter-generate, tree-sitter-test, tree-sitter-benchmark

chore: Remove unused tree-sitter-javascript dependency
  package-lock.json
  package.json
Due: none

refactor: Flatten CST structure by eliminating expression wrapper nodes
  grammar.js
  src/grammar.json
  src/node-types.json
  src/parser.c
Due: tree-sitter-generate, tree-sitter-test, tree-sitter-benchmark

docs: Update README with complete example file listing
  README.md
Due: none

feat: Add optimized grammar for high-speed parsing
  CST_CHANGES.md
  benchmark/benchmark.js
  benchmark/detailed_benchmark.js
  benchmark/grammar_flattened.js
  benchmark/grammar_wrapped.js
  benchmark/simple_speed_test.js
  benchmark/speed_test.js
  benchmark/test_files/complex.moo
  benchmark/test_files/medium.moo
  benchmark/test_files/simple.moo
  grammar_optimized.js
Due: none

Restore wrapped grammar on main branch
  grammar_backup.js
  moo.dylib.dSYM/Contents/Info.plist
  moo.dylib.dSYM/Contents/Resources/Relocations/aarch64/moo.dylib.yml
  src/grammar.json
  src/node-types.json
  src/parser.c
  src/tree_sitter/alloc.h
  src/tree_sitter/array.h
  src/tree_sitter/parser.h
Due: none

feat: Implement optimized grammar for high-speed parsing
  package.json
Due: none

feat: Implement semicolons as statement separators
  .gitignore
  FLATTENING_NOTES.md
  benchmark/grammar_flattened.js
  benchmark/grammar_wrapped.js
  docs/ECHO_LANGUAGE_DESIGN.md
  grammar.js
  grammar_backup.js
  grammar_optimized.js
  moo.dylib.dSYM/Contents/Info.plist
  moo.dylib.dSYM/Contents/Resources/Relocations/aarch64/moo.dylib.yml
  package-lock.json
  src/grammar.json
  src/node-types.json
  src/parser.c
  src/tree_sitter/alloc.h
  src/tree_sitter/array.h
  src/tree_sitter/parser.h
  test/corpus/binops.txt
  test/corpus/cst_examples.txt
  test/corpus/flyweights.txt
  test/corpus/functions_and_verbs.txt
  test/corpus/object_definitions.txt
  test/corpus/property_access.txt
  test/corpus/value_types.txt
Due: tree-sitter-generate, tree-sitter-test, tree-sitter-benchmark
